/*  base styles */

*{
    box-sizing: border-box;
   
}
.traffic,.daily,.mobile,.members,.recent-activity,.message,.settings, .social{
    outline: 1px solid rgba(211,211,211,0.4);
    padding: 20px 5px;
}

html{
    background-color:rgba(0, 0, 0, 0.7)
}
.grid-container {
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav-bar"
    "main";
    font-family: 'Ubuntu', sans-serif;
    /* margin:  0 5px 15px 5px; */
    overflow: hidden;
    height: 100vh;
   width: 100vw;
   max-width: 1400px;
   background-color: white;
   
}

.app-header{
    grid-area: header;
    
}

.nav-bar{
    grid-area: nav-bar;
}

.main-wrapper{
    grid-area: main;
    display: grid;
    /* padding-left: 5px;
    padding-right: 5px; */
    overflow-y: scroll;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}



/* widgets */
.widget-container-full, .widget-container-half {
    width: 95vw;
}



/* header */
.app-header{
    display: grid;
    grid-template-columns:  5fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    " app-name  bell profile-picture profile-name";
    background-color: rgba(255, 89, 33, 0.95);
    color: white;
}
.bell{
    grid-area:bell;
    justify-self: end;
    align-self: center;
    margin-right: 5px;
    
}


.app-name{
    grid-area: app-name;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 40px;
}

.profile-picture{
    grid-area: profile-picture;
    height: 35px;
    border-radius: 60px;
    align-self: center;
    justify-self: end;
    margin-right: 5px;
    
}
.profile-name{
    grid-area: profile-name;
    align-self: center;
    justify-self: start;
}

/* navbar */
.nav-bar{
    background-color: rgba(0, 0, 0, 0.85);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "icon-1 icon-2 icon-3 icon-4";
    justify-items: center;

   
}

.icon-1, .icon-2, .icon-3, .icon-4{
    height: 35px;
    padding: 5px 0;
}

.main-wrapper{
    color: rgba(0, 0, 0, 0.6);
}
/* dashboard */
.dashboard{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "headline search-back"
    "alert alert";
    grid-gap: 10px 0;
}

.headline{
    grid-area: headline;
}
.search-back{
    grid-area: search-back;
    align-self: center;
    justify-self: end;
    height: 100%;
    display: grid;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 100%;
}
.search-bar{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    height: 30px;
    align-self: center;
    width: 70%;
    justify-self: end;
    
}
.search-bar:focus{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(242 , 170, 76, 1);
   
}
.alert{
    grid-area: alert;
    display: grid;
    grid-template-columns:  9fr 1fr;
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    border-radius: 5px; 

}
.alert-banner{
    padding: 5px;
}
.alert p {
    margin-top: 0;
    margin-bottom: 0;
}
.close{
    padding-right: 5px;
    cursor: pointer;
    justify-self: end;
    padding: 5px 5px 5px 0;
}


/* Traffic section */
.traffic{
display: grid;
 grid-template-columns:  1fr ;
 grid-template-rows: 0.5fr 1fr;
 grid-template-areas: 
 "traffic-header-nav"
 "widget-container-full";
}
.widget-container-full{
    grid-area: widget-container-full;
}
.traffic-header-nav{
    grid-area: traffic-header-nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "traffic-header"
    "traffic-nav";
}

.traffic-header{
    grid-area: traffic-header;
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 16px;
    align-self: center;
}
.traffic-nav{
    grid-area: traffic-nav;
    list-style: none;
    display: inline-flex;
    padding-left: 0px;
}
.traffic-nav-link{
    margin: auto;
    background-color: white;
    color: rgba(0, 0, 0, 0.65);
    padding: 0 5px;
    border-radius: 8px;
    transition: background-color  ease-in 0.2s;
    transition: color ease-in 0.2s;
}
.traffic-nav-link:hover{
    color: white;
    background-color: rgba(242 , 170, 76, 1);
    cursor: pointer;
}
/* headers only*/
.daily-header,.mobile-header,.header-recent,.message-header,.settings-header,.member-header{
    text-transform: uppercase;
    padding-left: 10px;
    font-size: 16px;
}

/* social network section */ 
 .social{
    display: grid;
    grid-template-columns:  1fr  1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "facebook twitter"
     "google google";
   
     grid-gap: 20px;
}
.facebook{
    grid-area: facebook;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "social-image-1 social-text-1"
    "social-image-1 social-text-1"
    ;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    
}

.social-image-1{
    grid-area: social-image-1;
    align-self: center;
}
.social-text-1{
    grid-area: social-text-1;
}
 .social svg{
    height: 50px; 

} 
.twitter{
    grid-area: twitter;
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "social-image-2 social-text-2"
    "social-image-2 social-text-2"
    ;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    /* padding: 0 20px; */
}


.social-image-2{
    grid-area: social-image-2;
    align-self: center;
}
.social-text-2{
    grid-area: social-text-2;
}


.google{
    grid-area: google;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "social-image-3 social-text-3"
    "social-image-3 social-text-3"
    ;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 0 20px;
}
.social-image-3{
    grid-area: social-image-3;
    align-self: center;
}
.social-text-3{
    grid-area: social-text-3;
}

.media-title{
 margin-bottom: 5px;
 color:rgba(242 , 170, 76, 1); 
}
.hits{
    margin-top: 0;
    font-size: 25px;
}

/* new member section */



.members-container-1{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "profile-image-1 member-text-1"
        "profile-image-1 member-text-1";
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
}
.members-container-2{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "profile-image-2 member-text-2"
        "profile-image-2 member-text-2";
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
    }
    .members-container-3{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "profile-image-3 member-text-3"
            "profile-image-3 member-text-3";
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding-bottom: 10px;
        margin-top: 20px;
        font-size: 12px;
        }
        .members-container-4{
            display: grid;
            grid-template-columns: 1fr 5fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                "profile-image-4 member-text-4"
                "profile-image-4 member-text-4";
            padding-bottom: 10px;
            margin-top: 20px;
            font-size: 12px;
            }
.profile-image-1{
    border-radius: 60px;
    height: 50px;
    grid-area: profile-image-1;
}
.profile-image-2{
    border-radius: 60px;
    height: 50px;
    grid-area: profile-image-2;
}
.profile-image-3{
    border-radius: 60px;
    height: 50px;
    grid-area: profile-image-3;
}
.profile-image-4{
    border-radius: 60px;
    height: 50px;
    grid-area: profile-image-4;
}

.members-text-1{
    grid-area: member-text-1;
    display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 30px 1fr;
    grid-template-areas:
    "member-name-1 comment-date-1"
    "member-email-1 comment-date-1" ;
}
.members-text-2{
    grid-area: member-text-2;
    display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 30px 1fr;
    grid-template-areas:
    "member-name-2 comment-date-2"
    "member-email-2 comment-date-2" ;
}
.members-text-3{
    grid-area: member-text-3;
    display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 30px 1fr;
    grid-template-areas:
    "member-name-3 comment-date-3"
    "member-email-3 comment-date-3" ;
}
.members-text-4{
    grid-area: member-text-4;
    display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 30px 1fr;
    grid-template-areas:
    "member-name-4 comment-date-4"
    "member-email-4 comment-date-4" ;
}

.member-name-1{
    grid-area: member-name-1;
    justify-self: start;
    align-self: end;
    margin: 0;
}
.member-name-2{
    grid-area: member-name-2;
    justify-self: start;
    align-self: end;
    margin: 0;
}
.member-name-3{
    grid-area: member-name-3;
    justify-self: start;
    align-self: end;
    margin: 0;
}
.member-name-4{
    grid-area: member-name-4;
    justify-self: start;
    align-self: end;
    margin: 0;
}


.member-email-1{
    grid-area: member-email-1;
   text-decoration: none;
   color: rgba(242 , 170, 76, 0.6);
}
.member-email-2{
    grid-area: member-email-2;
   text-decoration: none;
   color: rgba(242 , 170, 76, 0.6);
}
.member-email-3{
    grid-area: member-email-3;
   text-decoration: none;
   color: rgba(242 , 170, 76, 0.6);
}
.member-email-4{
    grid-area: member-email-4;
   text-decoration: none;
   color: rgba(242 , 170, 76, 0.6);
}
.member-email-1,.member-email-2,.member-email-3,.member-email-4{
    font-size: 12px;
}
.comment-date-1{
    grid-area: comment-date-1;
    justify-self: end;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.7)
}
.comment-date-2{
    grid-area: comment-date-2;
    justify-self: end;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.7)
}
.comment-date-3{
    grid-area: comment-date-3;
    justify-self: end;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.7)
}
.comment-date-4{
    grid-area: comment-date-4;
    justify-self: end;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.7)
}





/* recent Activity section */
.recent-activity{
    padding: 0 5px;
}
.members-action{
    transition: opacity .2s ease-in 
}
.members-action:hover{
    opacity: 0.7;
}

.recent-member-1{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "recent-profile-1 member-activity-1"
        "recent-profile-1 member-activity-1";
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
}
.recent-member-2{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "recent-profile-2 member-activity-2"
        "recent-profile-2 member-activity-2";
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
}
.recent-member-3{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "recent-profile-3 member-activity-3"
        "recent-profile-3 member-activity-3";
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
}
.recent-member-4{
    display:grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "recent-profile-4 member-activity-4"
        "recent-profile-4 member-activity-4";
    padding-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
}

.recent-profile-1,.recent-profile-2,.recent-profile-3,.recent-profile-4{
    border-radius: 60px;
    height: 50px;
}
.recent-profile-1{
    grid-area: recent-profile-1;
}
.recent-profile-2{
    grid-area: recent-profile-2;
}
.recent-profile-3{
    grid-area: recent-profile-3;
}
.recent-profile-4{
    grid-area: recent-profile-4;
}
.members-activity-1{
    grid-area: member-activity-1;
   display: grid;
   grid-template-columns:  6fr 1fr;
   grid-template-rows: 40px 1fr;
   grid-template-areas: 
   "member-paragraph arrow"
   "time-of-action arrow"; 
}
.members-activity-2{
    grid-area: member-activity-2;
   display: grid;
   grid-template-columns:  6fr 1fr;
   grid-template-rows: 40px 1fr;
   grid-template-areas: 
   "member-paragraph arrow"
   "time-of-action arrow"; 
}
.members-activity-3{
    grid-area: member-activity-3;
   display: grid;
   grid-template-columns:  6fr 1fr;
   grid-template-rows: 40px 1fr;
   grid-template-areas: 
   "member-paragraph arrow"
   "time-of-action arrow"; 
}
.members-activity-4{
    grid-area: member-activity-4;
   display: grid;
   grid-template-columns:  6fr 1fr;
   grid-template-rows: 40px 1fr;
   grid-template-areas: 
   "member-paragraph arrow"
   "time-of-action arrow"; 
}
.member-account{
    text-decoration: none;
    color: black;
    
}

.member-paragraph{
    grid-area: member-paragraph;
   margin: auto 0;
}

.time-of-action{
    grid-area: time-of-action;
    margin-top: 0;
    margin-bottom:0;
}

.arrow{
    grid-area: arrow;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    height: 10px;
    width: 10px;
    justify-self: end;
    align-self: center;
}


/* Message user section */
.message{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    align-items: end;
    padding-top:0;
}
.message-header{
    display: grid;
    justify-items: start;
    font-size: 16px;
    margin-left:20px;
    align-self: end;
    padding-left: 0;
}
.widget-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "form-field"
    "form-area"
    "send";
    
    grid-gap: 3px;
  
}

.form-field{
    grid-area: form-field;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 20px;
    width: 90%;
    height: 50px;
    align-self: start;
}
.form-field:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(242 , 170, 76, 1);
    
 }

.form-area{
    grid-area: form-area;
    width: 50%;
    resize: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 20px;
    width: 90%;
    height: 100%;
    
}
.form-area:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(242 , 170, 76, 1);
 }

.button-send{
    grid-area: send;
    background-color: rgba(242 , 170, 76, 1);
    transition: opacity ease-in;
    border-radius: 5px;
    border: none;
    height: 50px;
    margin: 0 20px;
    width: 90%;
    align-self: end;
    color: white;
}
.button-send:hover{
    opacity:  0.7;
    cursor: pointer;
    
}
.button-send:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}




/* settings */

.settings{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 5fr 1fr;
    grid-template-areas: 
    "settings-header"
    "settings-collection-1"
    "settings-collection-2";
    justify-items: center;
    padding-top:0;
}
.settings-header {
    justify-self: start;
    margin-left: 20px;
    align-self: end;
    padding-left: 0;
}
.settings-collection-1{
    grid-area: settings-collection-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: start;
    margin-left: 20px;
}
.switch-1{
    justify-self: center;
    margin-top: 16px;
}
.settings-collection-2{
    grid-area: settings-collection-2;
    display: grid;
    justify-items: center;
}
.switch-2{
    justify-self: center;
}
.time-zone{
    width: 90%;
    margin: 5px 0;
    border: solid 1px rgba(0, 0, 0, 0.2);
    color: lightGrey;
}

/* settings buttons */
.settings-button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "save cancel";
    grid-gap: 5px;
}
.button-save{
    grid-area: save;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: rgba(242 , 170, 76, 1);
    transition: opacity ease-in 0.2s;
    height: 50px;
    color: white;
}
.button-save:hover{
    opacity: 0.7;
    cursor: pointer;
}
.button-save:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.button-cancel{
    grid-area: cancel;
    border: none;
    border-radius: 5px;
    background-color:rgba(0,0,0, 0.3);
    transition: opacity ease-in 0.2s;
    color: white;
}
.button-cancel:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.button-cancel:hover{
    opacity: 0.7;
    cursor: pointer;
}

@media (min-width: 768px){

    .grid-container {
        grid-template-columns: 75px 1fr;
        grid-template-areas: 
        "header header"
        "nav-bar main"
    ;
    }
    .app-header{
        grid-template-columns:13fr 1fr 1fr 2fr; 
    }
    .main-wrapper {
        grid-template-columns: 50%;
        padding:0;
        margin: 0 5px;
        
    }
    .dashboard, .traffic, .social{
            grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .recent-activity, .settings {
        grid-column: 2 / span 1;
    }
    /* dashboard */

    .dashboard{
        display: grid;
        ggrid-template-columns: 1fr 4fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas: 
        "headline search-back"
        "alert alert";
    }
    /* widget containers */

    .widget-container-full{
        width: 85vw;
        justify-self: center;
    }
    .widget-container-half{
        width: 40vw;
    }
    .nav-bar{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 80px);
        grid-template-areas:
        "icon-1"
        "icon-2"
        "icon-3"
        "icon-4";
        align-items: center;
    }
    
    /* social section */
    .social{
    grid-template-columns:  1fr  1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "facebook twitter google";
    grid-gap: 20px;
    } 
    .facebook, .twitter, .google{
        justify-self: center;
        padding: 0 20px;
    }
/* Traffic Section */
    .traffic{
        grid-template-rows: 0.2fr 1fr;
    }
    .traffic-header-nav{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "traffic-header traffic-nav";
        margin-top: 10px;
        margin-bottom: 10px;
    }

/* member section */
.members{
    padding: 0 10px 0 5px;
} 
.members-activity-1,.members-activity-2,.members-activity-3,.members-activity-4{
    grid-template-rows: 30px 1fr;
}

    /* recent activity section */
   .recent-activity{
       padding: 0 5px 0 10px;
   }
    .members-activity{
    grid-template-columns:  13fr 1fr;
   }
   .member-paragraph {
    margin: 0;
}
   /* message user section */
   
   .form-field, .form-area, .button-send{
       width: 80%;
   }
 
}

@media(min-width: 1024px){
.grid-container{
    margin: auto;
}
.widget-container-full{
    max-width: 1200px;
    max-height: 600px;
    float: right;
}
.widget-container-half{
    max-width: 640px;
}
.button-1,.button-2, .button-3{
    margin-right: 20px;
    margin-left: 20px;
}
.button-4{
    margin-left: 20px;
    
}
.member-paragraph {
    margin: auto 0;
}

}
    
 

