/*  base styles */

*{
    box-sizing: border-box;
   
}
.grid-container {
    display: grid;
    grid-template-columns:  100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav-bar"
    "main";
    font-family: 'Ubuntu', sans-serif;
}

.app-header{
    grid-area: header;
}

.nav-bar{
    grid-area: nav-bar;
}

.main-wrapper{
    grid-area: main;
    display: grid;
}


/* widgets */
.widget-container-full, .widget-container-half {
    width 95vw;
}



/* header */
.app-header{
    display: grid;
    grid-template-columns:  3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    " app-name  bell profile-picture profile-name";
}
.bell{
    grid-area:bell;
}
.app-name{
    grid-area: app-name;
}

.profile-picture{
    grid-area: profile-picture;
}
.profile-name{
    grid-area: profile-name;
}

/* dashboard */
.dashboard{
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr 1fr 21px;
    grid-template-areas: 
    "headline headline"
    "search-back ."
    "alert alert";
}

.headline{
    grid-area: headline;
}
.search-back{
    grid-area: search-back
}
.alert{
    grid-area: alert;
    display: grid;
    grid-template-columns:  9fr 1fr;
    background-color: black;
    color: white;
}
.alert p {
    margin-top: 0;
}
.close{
    margin-left: 5px;
    
}


/* Traffic section */

.traffic-header-nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "traffic-header"
    "traffic-nav";
}

.traffic-header{
    grid-area: traffic-header;
}
.traffic-nav{
    grid-area: traffic-nav;
    list-style: none;
    display: inline-flex;
}
.traffic-nav-link{
    margin: auto;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 8px;
}
.traffic-nav-link:hover{
    background-color: coral;
}

/* new member section */
.members{
    padding: 0 5px;
}

.profile-image{
    border-radius: 60px;
    height: 50px;
}
.members-text{
    display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 30px 1fr;
    grid-template-areas:
    "member-name member-email"
    "comment-date .." ;
}

.member-name{
    grid-area: member-name;
    margin-top: 0;
    margin-right: 5px;
    justify-self: end;
}

.member-email{
    grid-area: member-email;
   text-decoration: underline;
   color: black;
}
.comment-date{
    grid-area: comment-date;
    margin-top: 0;
    justify-self: end;
    margin-right: 5px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7)
}












@media (min-width: 768px){

    .grid-container {
        grid-template-columns: 75px 1fr;
        grid-template-areas: 
        "header header"
        "nav-bar main"
    ;
    }
    .main {
        grid-template-columns: 50%;
    }
    .dashboard, .traffic, .social{
            grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
    .mobile, .recent-activity, .settings {
        grid-column: 2 / span 1;
    }

    /* widget containers */

    .widget-container-full{
        width: 85vw;
    }
    .widget-container-half{
        width: 40vw;
    }
}