/* mobile layout */

/* main components */
*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    
}


.grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "app-header"
    "main-wrapper"
    "nav-bar"
    ;
    
    /* width: 100vw;
    height: 100vh; */
    max-width: 1600px;
    /* margin: auto; */
    /* background-color: rgba(26,26,26,.9); */
    /* color: white; */
    font-family: 'Ubuntu', sans-serif;
    /* margin-left: 1%;
    margin-right: 1%; */
}



.nav-bar{
    grid-area: nav-bar;
}



/* header components */
.app-header{
    grid-area: app-header;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 25px 45px 95px;
    grid-template-rows: 1fr;
    grid-template-areas: "app-name bell profile-picture profile-name";
}



.app-name{
    grid-area: app-name;
    margin-top: 0;
    font-size: 20px;
    margin-top:4px;
}

.bell{
    grid-area: bell;
   margin-right: auto;
}

 .profile-name{
    grid-area: profile-name;
    margin-top: 7px;
}
.profile-picture{
    grid-area: profile-picture;
    margin-top: 7px;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    margin-top: 0;
}

.profile-name{
    margin-bottom: 0;
    padding-bottom: 0;
     
}

/* main wrapper */

.main-wrapper{
    grid-area: main-wrapper;
    display: grid;
    /* grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-areas: 
        "dashboard"
        "traffic"
        "daily"
        "mobile"
        "social-container"
        "members"
        "recent-activity"
        "message"
        "settings";
    } */
}
   

    .dashboard{
        grid-area: dashboard;
    }
    .traffic{
        grid-area: traffic;
    }
    .daily{
        grid-area: daily;
    }

    .mobile{
        grid-area: mobile;
    }
    .social-container{
        grid-area:social-container;
    }
    .members{
        grid-area:members;
    }
    .recent-activity{
        grid-area:recent-activity;
    }

    .message{
        grid-area:message;
    }
    .settings{
        grid-area:settings;
    }


    /* dashboard */

    .dashboard{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 35%;
        grid-template-areas: 
        "headline search-back"
        "alert alert";
    }

    .headline{
        grid-area: headline;
        margin-top: 20px;
    }
    .search-back{
        grid-area: search-back;
       
    }
     /* search bar */

     .search-bar{
        margin-top: 20px;
        
        height: 35px;
        width: 30%;
        border-radius: 10px;
        border: 1% 1% 1% 1%;
        border-color: rgba(0, 0, 0, 0.4); 
        border-style: solid;
        transition: width .3s ease-in;
        margin-left: 61%;
        
       }
       .search-bar:focus{
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 35%;
        
    }

    /* alert banner */
    .alert{
        grid-area: alert;
        display: grid;
        grid-template-columns: 1fr 30px;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "alert-banner close";
        border: solid black;
        color: white;
        background: rgba(26,26,26,.9);
        border-radius: 5px;
        width: 95%;
        justify-self: center;
    }

    .alert-banner{
        grid-area: alert-banner;
 
    }
    .alert-banner p{
        margin:0;
        padding-top: 2px;
    }
    .close{
        grid-area: close;
        cursor: pointer;
    }


    /* traffic  sectioon */

.traffic{
    display: grid;
    margin-top: 2%;
    grid-area: traffic;
    border-top-style: inset;
    border-top-width: 1px;
    grid-template-columns: .5fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas: 
    "traffic-header"
    "traffic-nav"
    "widget-container-full";
} 


.traffic-header{
    grid-area: traffic-header;
    font-size: 20px;
}

/* traffic buttons */

.traffic-nav{
    display: grid;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    grid-template-rows: 1fr;
    grid-template-areas: "button-1 button-2 button-3 button-4";
    justify-items: center;
    /* padding-left: 5%;
    padding-right: 5%;    */
    
}
.button-1{
    grid-area: button-1;
}
.button-2{
    grid-area: button-2;
}
.button-3{
    grid-area: button-3;
}
.button-4{
    grid-area: button-4;
}
.traffic-nav-link{
    padding: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color  .2s ease-in , color  .2s ease-in;
}
.traffic-nav-link:hover{
    background-color:rgba(242 , 170, 76, 1);
    color: white;
}

   
.widget-container-full {
    grid-area: widget-container-full;
    width: 110%;
}


/* Daily Section */

.daily{
    display: grid;
    grid-area: daily;
    padding-top: 3%;
   grid-template-columns: 1fr;
   grid-template-rows: 75px 1fr;
   grid-template-areas: 
   "daily-header"
   "widget-container-half";
    }

    .daily-header{
        grid-area: daily-header;
        font-size: 20px; 
        
    }
    .widget-container-half{ 
        grid-area: widget-container-half;
        width: 70%;
        
    }
    

    /* mobile DAta */

    .mobile{
        display: grid;
        grid-area: mobile;
        margin-top: 20px;
       grid-template-columns: 1fr;
       grid-template-rows: 40px 1fr;
       grid-template-areas: 
       "mobile-header"
       "widget-container-half";
    }

    .mobile-header{
        grid-area: mobile-header;
        font-size: 20px;
        margin-top: 0;
        padding-bottom: 2%;
    }

    /* social Container */

.social-container{
    grid-area: social-container;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "facebook twitter"
   ;
}
.facebook{
    grid-area: facebook;
  margin-left: 25%;
    
}
.twitter{
    grid-area: twitter;
    margin-right: 25%;
}
#twitter{
    width: 25%;
    height: 25%;
    
}

#facebook{
    width: 25%;
    height: 25%;
}







@media (min-width: 768px){
    .grid-container{
        grid-template-columns: 55px 1fr;
        grid-template-areas: {
            "header header"
            "nav main"
        }    
    }
    .main-wrapper{
        grid-template-columns: 50%;
    }
    .dashboard, .traffic, .social{
        grid-column: 1 / span 2;
    }
    .daily, .members, .message{
        grid-column: 1 / span 1;
    }
    .mobile, .recent-activity,.settings{
        grid-column: 2 / span 1;
    }
}




































   