

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header",
    "nav",
    "main";
}

/* header, main, navigation */

/* header */
.app-header{
    grid-area: header;
}
/* navigation, possibly will add two navigation for two media queries */
.side-bar{
    grid-area: nav;
    }

    /* main container */
    .mainBody {
        grid-area: main;
    }

    @media (min-width: 768px) {
        .grid-container {
            

        }
    }