/* mobile layout */

*{
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "nav";
}

/* header, main, navigation */

/* header */
.app-header{
    grid-area: header;
}
/* navigation, possibly will add two navigation for two media queries */
.side-bar{
    grid-area: nav;
    }

    /* main container */
    .mainBody {
        grid-area: main;
        display: grid;
    }

    /* desktop layout */
    
    @media (min-width: 768px) {
        .grid-container {
            grid-template-columns: 55px 1fr ;
            grid-template-areas: 
                "header header"
                "nav main";
        }
        .mainBody{
            grid-template-columns: 1fr 1fr;
        }
        .dashboard, .traffic,  .social-container {
            grid-column: 1 / span 2;
          }
          .daily, .mobile, .message, .user, .members, .recent-activity{
              grid-column:  1 / span 1;
          }
    }

    
    