/* mobile layout */

*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows:  10%  1fr 8%;
    grid-template-areas: 
    "header"
    "main"
    "nav";
   overflow: hidden;
   height: 100vh;
   width: 100vw;
   max-width: 1600px;
   margin: auto;
   padding: 0px 5px 15px 5px;
   background-color: rgba(26,26,26,.9);
   color: white;
   font-family: 'Ubuntu', sans-serif;
   
}

/* header, main, navigation */

/* header */

.app-header{
    margin-top: 10px;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 30px 150px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "appName bell profile"
    ;
}
.appName{
    grid-area: appName;
    margin-top: 0;
    font-size: 20px;
    margin-top: 4px;
}


/* Profile name, picture */

.profile-picture, .profileName{
    grid-area: profile;
    margin-top: 7px;
    cursor: default;
}
.profile-picture{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    margin-top: 0;
}
.profileName{
  margin-bottom: 0;
  padding-bottom: 0;
    margin-left: 50px;
}


/* bell icon */
#Layer_1{
    grid-area: bell;
    margin-top: 20px;
    padding-right: 10px;
}



/* Navigation*/
.side-bar{
    grid-area: nav;
    
    }

    /* Main Container */
    .mainBody {
        grid-area: main;
        display: grid;
        overflow-y: scroll;
        background-color: #ffffff;
        border-radius: 5px;
        color:black;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(9, 1fr);
       grid-template-areas: 
       "dashboard "
       "traffic"
       "daily"
       "mobile"
       "social"
       "membersAndActivity"
       "messageAndSettings"
       "messageAndSettings"
       ;
       max-width: 1500px;
    }
    .dashboard{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr .5fr 80px;
     grid-area: dashboard;
     margin-bottom: 50px;
     grid-template-areas: 
     "headline"
     "search-back"
     "alert";
    }
    .headline{
        grid-area: headline;
        padding-left: 10px;
        padding-left: 5%;   
    }
    .search-back{
        grid-area: search-back;
    }
    

.alert{
    grid-area: alert;
    display: grid;
    grid-template-columns: 1fr 30px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "alert-banner close";
    border: solid black;
    color: white;
    background: rgba(26,26,26,.9);
    border-radius: 5px;
   margin: auto;
   width: 95%;
   justify-self: center;
}

    .alert-banner{
        grid-area: alert-banner;
        
    }
    .close{
        grid-area: close;
        margin: auto;
        cursor: pointer;
       
    }
        .searchBar{
            height: 35px;
            width: 150px;
            border-radius: 10px;
            border: 1% 1% 1% 1%;
            border-color: rgba(0, 0, 0, 0.4); 
            border-style: solid;
            transition: width .3s ease-in;
            margin-left: 5%;
    
               
        }
        .searchBar:focus{
            /* border-color: #7a7a7a; */
            outline: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
            width: 180px;
            
        }
    .alert{
       margin: auto;
       cursor: default;    
    }
    .alert-banner-close{
       padding: 0;
       margin-left: 292px;
       cursor: pointer;
    }

    /* Traffic Section */
    .traffic{
        grid-area: traffic;
        border-top-style: inset;
        border-top-width: 1px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .traffic-header > h3:nth-child(1) {
        padding-left: 5%;
       }
       
    .traffic-nav{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        padding-left: 5%;
        padding-right: 5%;   
    }
    .traffic-nav-link{
        padding: 5px 8px 5px 8px;
     
        border-radius: 8px;
        cursor: pointer;
        transition: background-color  .2s ease-in , color  .2s ease-in;
    }
    .traffic-nav-link:hover{
        background-color:#aff713;
        color: white;
    }
   
.widget-container-full {
    width: 90%;
    padding-left: 5%;
}
/* Daily Section */

.daily{
grid-area: daily;
margin-left: 5%;
margin-right: 5%;
padding-top: 5%;
border-top-style: inset;
        border-top-width: 1px;
        margin-top: 5%;
}

/* Mobile section */
.mobile{
    grid-area: mobile;
    border-top-style: inset;
    border-top-width: 1px;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
    


/* Widget for Daily  & Mobile */
.widget-container-half{ 
    width: 95%;
}

/* Social Container */
.social-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: social;
    grid-template-areas: 
    "facebook twitter"
    ;
}
.facebook{
    grid-area: facebook;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 50%;
    grid-template-areas: 
    "social-image1 social-text1"
    ;
    
}
.twitter{
    grid-area: twitter;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 50%;
    grid-template-areas: 
    "social-image2 social-text2"
    ;
   
   justify-content: center;
}
.social-image1{
    grid-area: social-image1;
    align-self: center;
}
.social-image2{
    align-self: center;
    grid-area: social-image2;
    width: 100%;
    padding-right: 0;
}
#facebook{
    height: 39%;
    width: 39%;
    margin-left: 35%;
}
#twitter{
    height: 28%;
    width: 28%;
    margin-left: 35%;
   
}
.social-text1{
    grid-area: social-text1;
    align-self: center;
    padding-right: 20px;
}
.social-text2{
    grid-area: social-text2;
    align-self: center;
   padding-right: 20px;
   
    }


/* New Members section */
    .membersAndActivity{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows:  1fr 1fr;
        grid-template-areas: 
        "members"
        "recent-activity";
        grid-gap: 10px;
        grid-area: membersAndActivity;
        padding-left: 5%;
        padding-right: 5%;
       
    }
    .members{
        border-top-style: inset;
        border-top-width: 1px;
        margin-top: 5%;
        grid-area: members;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .members-container-1{
        grid-area: members-container-1;
        display: grid;
        max-height: 100px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "profile-image date"
        "nameEmail .";
    }
    .members-container-2{
        display: grid;
        max-height: 100px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "profile-image date"
        "nameEmail .";
        margin-top: 10px;
    }

.profile-image{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    grid-area: profile-image;
    margin-top: auto;
}
.members-text{
    grid-area: nameEmail;
    line-height: .5;
    
    
}
.members-text a{
    text-decoration: none;
    color: black;
}

.commentDate{
    grid-area: date;
    margin-top: auto;
    margin-bottom: 0;
    justify-self: end;
}

/* Recent Activity */
.recent-activity{
    display: grid;
    grid-area: recent-activity;
    grid-template-columns:1fr 50px;
    grid-template-rows:  50px 1fr 1fr;
    grid-template-areas:
    "header-recent ."
    "member-action1 arrow"
    "member-action2 arrow1";
    border-top-style: inset;
    border-top-width: 1px;
    margin-top: 5%;
        margin-top: 5%;
        border-left: none;

}
.header-recent{
    grid-area: header-recent;
}
.recent-member-1, .recent-member-2{
    transition: opacity .2s ease-in;
}
.recent-member-1:hover , .recent-member-2:hover{
opacity: 0.4;
}
.members-action1{
    grid-area: member-action1;
    cursor: pointer;
    grid-template-columns: 1fr 50px;
    
}


.members-action2{
    grid-area: member-action2;
    cursor: pointer;
}

.profile-image2{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-top: 5px;
}
.members-action1 > div:nth-child(2) > p:nth-child(1) {
    margin-top: 4px;
   margin-bottom: 4px;
   }
   .members-action1 > div:nth-child(2) > p:nth-child(1) > a:nth-child(1) {
    text-decoration: none;
    color: black;
   }
   
   
   
.members-action2 > div:nth-child(2) > p:nth-child(1) {
    margin-top: 4px;
    margin-bottom: 4px;
    
   }
   .members-action2 > div:nth-child(2) > p:nth-child(1) > a:nth-child(1) {
    text-decoration: none;
    color: black;
    
   }
   
   .time-of-action {
    margin-top: 2px;
   }
   .arrow, .arrow1{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
   
    height: 10px;
    width: 10px;
    justify-self: end;
    align-self: center;
    
  }
  .arrow{
    grid-area: arrow;
}
  .arrow1{
      grid-area: arrow1;
  }


  /*  */
  /* Settings Section */
/* check toggle-switch.css for toggle switches  styles*/

/* Settings Container */
.messageAndSettings{
    grid-area: messageAndSettings;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "settings"
    "message";
    
}  


.settings{
      grid-area: settings;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      "settings-collection-1"
      "settings-collection-2";
      margin-left: 5%;
      margin-right: 5%;
      padding-top: 5%;
      grid-gap: 20px;
      padding-left: 5%;
      padding-right: 5%;
      border-top-style: inset;
      border-top-width: 1px;
    
  }

  /* settings-collection-1 Container */
  .settings-collection-1{
      grid-area: settings-collection-1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: 
      "setting-1 switch-1"
      "setting-2 switch-2"
      ;
  }
  .switch-1{
      grid-area: switch-1;
  }
  .switch-2{
    grid-area: switch-2;
}
  .setting-1{
      grid-area: setting-1;
      align-self: center;
      margin-top: 10px;
      margin-bottom: 10px;
}
  
  .setting-2{
    grid-area: setting-2;
    margin-top: 10px;
    margin-bottom: 10px;
}


  /* settings-collection-2 Container */
  .settings-collection-2{
    display: grid;
    grid-area: settings-collection-2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "time-zone"
    "settings-buttons";
    justify-items: center;
}
.time-zone{
    grid-area: time-zone;
    max-width: 60%;
}
.settings-buttons{
 grid-area: settings-buttons;
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr;
 grid-template-areas: 
 "button-save button-cancel"
 ;
 
}
.button-save{
    grid-area: button-save;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: rgba(242 , 170, 76, 1);
    transition: opacity .2s ease-in;
    cursor: pointer;
}
.button-save:hover{
    opacity: 0.8;
}
.button-cancel{
    grid-area: button-cancel;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    transition: opacity .2s ease-in;
    cursor: pointer;
}
.button-cancel:hover{
    opacity: 0.8;
}

  /* Message Section */
  .message{
      grid-area: message;
     display: grid;
     margin-left: 5%;
     margin-right: 5%;
     grid-template-columns: 1fr;
     grid-template-rows:  50px 1fr 3fr 40px;
     grid-template-areas: 
     "message-header"
     "search"
     "message"
     "send";
     border-top-style: inset;
     border-top-width: 1px;
     margin-top: 5%;
 }
 .message-header{
     grid-area: message-header;
   
 }
 
 .message > h3:nth-child(1) {
     cursor: default;
 }

 .form-field{
     grid-area: search;
     background-color: whitesmoke;
     border-style: inset;
     border-color: rgba(26,26,26,.9);
     border-bottom: none;
 }
 .form-field:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(242 , 170, 76, 1);
    
 }
 .form-area{
     grid-area: message;
     background-color: whitesmoke;
     resize: none;
     border-style: inset;
     border-color: rgba(26,26,26,.9);
 }
 .form-area:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: rgba(242 , 170, 76, 0.7);
 }
 .button-primary{
     grid-area: send;
     cursor: pointer;
     color:white;
     background-color:  rgba(242 , 170, 76, 1);
     transition: opacity ease-in;
 }
 .button-primary:hover{
     opacity:  0.8;
 }


  

    /* tablet layout */
    
    @media (min-width: 768px) {
        
        /* body container */
        .grid-container {
            grid-template-rows:  15% 1fr ;
            grid-template-columns: 10% 1fr ;
            grid-template-areas: 
              "header header"
              "nav main"

               
        }
        
        .app-header{
            margin-top: 20px;
            grid-template-columns: 1fr 40px 150px;
        }

        .appName{
            
            margin-top: 0;
            font-size: 30px;
            margin-left: 15px;
        }
        #Layer_1{
            margin-top: 20px;
            padding-right: 10px;
        }


        .profile-picture, .profileName{
            grid-area: profile;
            margin-top: 7px;
            cursor: default;
        }
        .profile-picture{
            height: 43px;
            width: 43px;
            border-radius: 20px;
            margin-top: 0;
        }
       

        .mainBody{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr ; 
            grid-template-areas: 
            "dashboard  dashboard"
            "traffic traffic"
            "daily mobile"
            "social social"
            "membersAndActivity membersAndActivity"
            "messageAndSettings messageAndSettings"
            
            ;
            overflow-y: scroll;
        
     
         }
         .dashboard{
            display: grid;
            grid-template-columns: .3fr 1fr;
            grid-template-rows: 1fr 1fr;
           grid-area: dashboard;
           margin-bottom: 5%;
           grid-template-areas: 
           "headline search-back"
           "alert alert"
           ;
          }
          .search-back{
              background-color: rgba(212, 210 , 209, 0.3);
              border: 1px solid rgba(212, 210 , 209, 0.8);
              border-right: none;
              display: grid;
              
          }
         .searchBar{
            align-self: center;
            justify-self: end;
            width: 45%;
            margin-right: 2%;
         }
         .searchBar:focus{
             width: 55%;
         }
         .alert{
             height: 35px;
             align-items: center;
         }
         .alert-banner > p:nth-child(1) {
            margin-top: 0px;
            margin-bottom: 0px;
           }
           
           .messageAndSettings{
            margin-top: 5%;  
            margin-right: 5%;
            margin-left: 5%;
            grid-template-areas: "settings message";
            padding: 5%;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            border-top-style: inset;
            border-top-width: 1px;
           }
          
           .settings{
               grid-gap: 0;
               margin-bottom: 0;
               margin-top: auto;
               border: none;
              
           }
           .message{
               border: none;
           }
        
    }

    @media(min-width: 1024px){
        .grid-container{
            grid-template-rows: 20% 1fr;
        }
        .membersAndActivity{
            grid-template-areas: 
            "members recent-activity"
            ;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        border-top: 1px inset;
        
        }
        .traffic{
            margin: 0;
            border-bottom: 1px inset;
            padding: 0 5%;
            margin: 0;
        }
        .daily{
            border: none;
            margin: 0;
            padding: 0 5%;
            border-bottom: 1px inset;
        }
        .mobile{
           
            border-top: none;
                padding: 0 5%;
                border-left: inset 1px;
                border-bottom: 1px inset;
            
        }

        #mobile-users {
            padding-bottom: 2%;
           }
           
           #daily-chart {
            padding-bottom: 2%;
           }
           
            .members{
                grid-area: members;
                border: none;
            }    
            .recent-activity{
                grid-area: recent-activity;
                border: none;
            }
            

            






    }

    

   
    