#Layer_1{
    height: 15px;
   fill: white;
    transition: display, fill, opacity .3s;
    transition-timing-function: ease-in-out;
    /* transition-delay: .2s; */
    margin-top: 8px;
    cursor: pointer;
}


/*  need to find out how to display:none circle when #Layer_1 is active */
#Layer_1:hover{
    
    fill:#e1ff4d;
   opacity: .5;
}

.st1{
    fill: green;
   
}

