#Layer_1{
    height: 15px;
   fill: white;
    transition: fill, opacity .3s;
    transition-timing-function: ease-in-out;
    /* transition-delay: .2s; */
    margin-top: 8px;
    cursor: pointer;
}


/* .st0{
    fill: white;   
    
    transition: fill;
} */
#Layer_1:hover{
    
    fill:#e1ff4d;
   opacity: .5;
}
#Layer_1:clicked
/* .st0:hover{
    fill: yellow;
   
} */