#Layer_3{
    height: 18px;
    fill: white;
    transition: display, fill, opacity .3s;
    transition-timing-function: ease-in-out;
    /* transition-delay: .2s; */
    cursor: pointer;
}


/*  need to find out how to display:none circle when #Layer_1 is active */
#Layer_3:hover{
    
    fill:#227501;
   opacity: .7;
}



