.daily{
    grid-area: daily;
    padding-top: 3%;
   grid-template-columns: 1fr;
   grid-template-rows: 30px 1fr;
   grid-template-areas: 
   "daily-header"
   "widget-container-half";
    }

    .daily-header{
        grid-area: daily-heade;
        font-size: 20px;
        margin-bottom: 2%;
    }
    .widget-container-half{ 
        grid-area: widget-container-half;
        width: 50%;
       margin: auto;
    }
    
