.dashboard{
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1fr 1fr 21px;
    grid-template-areas: 
    "headline headline"
    "search-back ."
    "alert alert";
}

.headline{
    grid-area: headline;
}
.search-back{
    grid-area: search-back
}
.alert{
    grid-area: alert;
    display: grid;
    grid-template-columns:  9fr 1fr;
    background-color: black;
    color: white;
}
.alert p {
    margin-top: 0;
}
.close{
    margin-left: 5px;
    
}