.mobile{
    grid-area: mobile;
   padding-top: 3%;
   grid-template-columns: 1fr;
   grid-template-rows: 30px 1fr;
   grid-template-areas: 
   "mobile-header"
   "widget-container-half";
}

.mobile-header{
    grid-area: mobile-header;
    font-size: 20px;
}
