.traffic-header-nav{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
    "traffic-header"
    "traffic-nav";
}

.traffic-header{
    grid-area: traffic-header;
}
.traffic-nav{
    grid-area: traffic-nav;
    list-style: none;
    display: inline-flex;
}
.traffic-nav-link{
    margin: auto;
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 8px;
}
.traffic-nav-link:hover{
    background-color: coral;
}
