// main wrapper section


.main-wrapper{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(auto, 1fr);
grid-template-areas: 
    "dashboard"
    "traffic"
    "daily"
    "mobile"
    "social-container"
    "members"
    "recent-activity"
    "message"
    "settings";
}

.dashboard{
    grid-area: dashboard;
}
.traffic{
    grid-area: traffic;
}
.daily{
    grid-area: daily;
}

.mobile{
    grid-area: mobile;
}
.social-container{
    grid-area:social-container;
}
.members{
    grid-area:members;
}
.recent-activity{
    grid-area:recent-activity;
}

.message{
    grid-area:message;
}
.settings{
    grid-area:settings;
}